<div id="modal_window" ng-click="vm.modalClose($event)"></div>

<div class="modalBox">

	<div class="edit_json" ng-show="vm.editType==='json'">
		<textarea id="jsonText" class="" rows="15" cols="80" ng-model="vm.json">{{vm.json}}</textarea>
		<div>
			<button class="btn btn-default" ng-click="vm.modalClose($event)">cancel</button>
			<button class="btn btn-primary" ng-click="vm.updateDB()">save</button>
		</div>
	</div>

	<div class="edit_button_title" ng-show="vm.editType==='btn_title'">
		<div>Button Title</div>
		<textarea class="new_text" name="button_title" rows="1" cols="30" ng-model="vm.currentNode.text">{{vm.currentNode.text}}</textarea>
		<div>
			<button class="btn btn-default" ng-click="vm.modalClose($event)">cancel</button>
			<button class="btn btn-primary" ng-click="vm.updateText(vm.currentNode.text)">update</button>
		</div>
	</div>

	<div class="edit_msg_title" ng-show="vm.editType==='msg_text'">
		<div>Message Text</div>
		<textarea class="new_text" name="message_title" rows="10" cols="50" ng-model="vm.currentNode.text">{{vm.currentNode.text}}</textarea>
		<div>
			<button class="btn btn-default" ng-click="vm.modalClose($event)">cancel</button>
			<button class="btn btn-primary" ng-click="vm.updateText(vm.currentNode.text)">update</button>
		</div>
	</div>

	<div class="edit_link_node" ng-show="vm.editType==='link_node'">
		<div>Link Existing Message</div>
		<input type="text" name="" class="new_text" ng-model="vm.text" placeholder="enter node id">
		<button class="btn btn-primary" ng-click="vm.linkNode(vm.text)">Link</button>
	</div>

</div>